/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.search-form {
  margin: 20px auto;
}

.input {
  width: 272px;
height: 40px;
border-radius: 4px;
border: 1px solid #808080;

}

.submit-btn,
.load-more {
border-radius: 8px;
padding: 8px 16px;
height: 40px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background: #4e75ff;
border: none;
}

.submit-btn {
  width: 91px;
}

.load-more {
  width: 125px;
  margin-top: 32px;
}

.gallery {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.gallery-item {
  width: 360px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.3s;
  border: 1px solid #808080;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.info {
  display: flex;
  padding: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 2;
letter-spacing: 0.04em;
color: #2e2f42;
}

.loader {
  width: 48px;
  height: 40px;
  margin-top: 30px;
  position: relative;
  background: #1f1d1d;
  border-radius: 15% 15% 35% 35%;
}

.loader:not([hidden]) {
  display: inline-block;
}

.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 45px;
  top: 8px;
  border: 4px solid #1f1d1d;
  width: 16px;
  height: 20px;
  border-radius: 0 4px 4px 0;
}
.loader::before {
  content: '';  
  position: absolute;
  width: 1px;
  height: 10px;
  color: #1f1d1d;
  top: -15px;
  left: 11px;
  box-sizing: border-box;
  animation: animloader 1s ease infinite;
}

@keyframes animloader {
    0% {
  box-shadow: 2px 0px rgba(255, 255, 255, 0), 12px 0px rgba(255, 255, 255, 0.3), 20px 0px rgba(255, 255, 255, 0);
}
    50% {
  box-shadow: 2px -5px rgba(255, 255, 255, 0.5), 12px -3px rgba(255, 255, 255, 0.5), 20px -2px rgba(255, 255, 255, 0.6);
}
    100% {
  box-shadow: 2px -8px rgba(255, 255, 255, 0), 12px -5px rgba(255, 255, 255, 0), 20px -5px rgba(255, 255, 255, 0);
}
  }
